<mat-tab-group class="about-container">
  <div *ngIf="me">
    <mat-tab label="CV">
      <div fxLayout="column">
        <h3>{{me.title}}</h3>
        <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap="32px">
          <div fxFlex="200px" class="about-picture">
            <img class="picture" src="assets/image/me/{{me.picture}}">
          </div>
          <div>
            <div fxLayout="column wrap" class="text" *ngFor="let info of me.text">{{info}}</div>
          </div>
        </div>
      </div>
    </mat-tab>
  </div>

  <div *ngIf="contact">
    <mat-tab label="{{contact.title}}">
      <h3>{{contact.title}}</h3>
      <div *ngFor="let text of contact.text">
        {{text}}
      </div>
    </mat-tab>
  </div>
</mat-tab-group>

