<div class="news-container">
  <div class="news-background" fxFlexFill fxLayout="column" fxLayoutAlign="center none">
    <div fxLayout="row" fxLayoutAlign="center none">

      <mat-card class="news-card" *ngIf="news">

        <mat-card-title>
          <span class="md-headline">
            <h3>{{news.title}}</h3>
          </span>
        </mat-card-title>

        <mat-card-content>
          <p>{{news.desc}}</p>
          <p>{{news.desc2}}</p>
          <div fxLayoutAlign="end">
            <a class="news-button" mat-raised-button href="{{news.href}}">{{news.buttontext}}</a>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
