<div fxLayout="column" class="container" fxLayoutAlign="center">
  <div *ngIf="navigator" class="header">

    <ng-container *ngIf="isMobile(); else largeNavigation">
      <mat-toolbar #toolbarMobile fxFlex class="toolbar" fxLayout="row wrap">
        <button mat-icon-button [matMenuTriggerFor]="navigationMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <a class="title" mat-button routerLink="/gallery" routerLinkActive="active">Madeleine Saxer</a>
        <mat-menu class="mobile-menu" #navigationMenu="matMenu">
          <div mat-menu-item>
            <button class="push-to-right" mat-button class="nav-button" routerLink="/gallery" routerLinkActive="active"
                    routerLinkActive="mat-accent">{{navigator.gallery}}</button>
          </div>
          <div mat-menu-item>
            <button mat-button class="nav-button" routerLink="/gallery-sold" routerLinkActive="active"
                    routerLinkActive="mat-accent">{{navigator.soldGallery}}</button>
          </div>
          <div mat-menu-item>
            <button mat-button class="nav-button" routerLink="/exhibition" routerLinkActive="active"
                    routerLinkActive="mat-accent">{{navigator.exhibition}}</button>
          </div>
          <div mat-menu-item>
            <button mat-button class="nav-button" routerLink="/me" routerLinkActive="active"
                    routerLinkActive="mat-accent">{{navigator.me}}</button>
          </div>
          <div mat-menu-item>
            <button mat-button class="nav-button" routerLink="/contact" routerLinkActive="active"
                    routerLinkActive="mat-accent">{{navigator.contact}}</button>
          </div>
          <div mat-menu-item>
            <button mat-button class="language-button" ngClass="{{isGerman()? 'mat-accent': ''}}"
                    (click)="changeLanguage({isGerman: true, isEnglish:false})"> de
            </button>
            <button mat-button class="language-button" ngClass="{{isEnglish()? 'mat-accent': ''}}"
                    (click)="changeLanguage({isGerman: false, isEnglish:true})"> en
            </button>
          </div>
        </mat-menu>
      </mat-toolbar>
    </ng-container>
    <ng-template #largeNavigation>
      <mat-toolbar fxFlex class="toolbar" fxLayout="row wrap">
        <a class="title" mat-button routerLink="/gallery" routerLinkActive="active">Madeleine Saxer</a>
        <a class="push-to-right" mat-button routerLink="/gallery" routerLinkActive="active"
           routerLinkActive="mat-accent">{{navigator.gallery}}</a>
        <a mat-button routerLink="/gallery-sold" routerLinkActive="active"
           routerLinkActive="mat-accent">{{navigator.soldGallery}}</a>
        <a mat-button routerLink="/exhibition" routerLinkActive="active"
           routerLinkActive="mat-accent">{{navigator.exhibition}}</a>
        <a mat-button routerLink="/me" routerLinkActive="active" routerLinkActive="mat-accent">{{navigator.me}}</a>
        <a mat-button routerLink="/contact" routerLinkActive="active"
           routerLinkActive="mat-accent">{{navigator.contact}}</a>

        <button mat-icon-button [matMenuTriggerFor]="languageMenu">
          <mat-icon>language</mat-icon>
        </button>
        <mat-menu #languageMenu="matMenu">
          <div mat-menu-item>
            <button mat-button class="language-button" ngClass="{{isGerman()? 'mat-accent': ''}}"
                    (click)="changeLanguage({isGerman: true, isEnglish:false})"> de
            </button>
          </div>
          <div mat-menu-item>
            <button mat-button class="language-button" ngClass="{{isEnglish()? 'mat-accent': ''}}"
                    (click)="changeLanguage({isGerman: false, isEnglish:true})"> en
            </button>
          </div>
        </mat-menu>
      </mat-toolbar>
    </ng-template>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
