<div fxLayout="column" class="container" fxLayoutAlign="center">
  <div *ngIf="navigator" class="header">
    <mat-toolbar fxFlex class="toolbar" fxLayout="row wrap">
      <a class="title" mat-button routerLink="/gallery" routerLinkActive="active">Madeleine Saxer</a>
      <a class="push-to-right" mat-button routerLink="/gallery" routerLinkActive="active"
         routerLinkActive="mat-accent">{{navigator.gallery}}</a>
      <a mat-button routerLink="/exhibition" routerLinkActive="active" routerLinkActive="mat-accent">{{navigator.exhibition}}</a>
      <a mat-button routerLink="/me" routerLinkActive="active" routerLinkActive="mat-accent">{{navigator.me}}</a>

      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #languageMenu="matMenu">
        <div mat-menu-item>
          <button mat-button class="language-button" ngClass="{{isGerman()? 'mat-accent': ''}}"
                  (click)="changeLanguage({isGerman: true, isEnglish:false})"> de
          </button>
        </div>
        <div mat-menu-item>
          <button mat-button class="language-button" ngClass="{{isEnglish()? 'mat-accent': ''}}"
                  (click)="changeLanguage({isGerman: false, isEnglish:true})"> en
          </button>
        </div>
      </mat-menu>

    </mat-toolbar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
