@use '@angular/material' as mat;

html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

@include mat.core();
$msaxer-app-primary: mat.define-palette(mat.$indigo-palette, 500);
$msaxer-app-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$msaxer-app-warn: mat.define-palette(mat.$red-palette);

$msaxer-app-theme: mat.define-light-theme((
 color: (
   primary: $msaxer-app-primary,
   accent: $msaxer-app-accent,
   warn: $msaxer-app-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.core-theme($msaxer-app-theme);
@include mat.button-theme($msaxer-app-theme);
@include mat.all-component-themes($msaxer-app-theme);

* {
  font-family: Roboto, " Helvetica Neue ", sans-serif;
}

img {
  pointer-events: none !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

